@model IEnumerable<AppointmentApp.Core.Entities.Appointment>

@{
    ViewData["Title"] = "Randevularım";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Yeni Randevu Al</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Tarih</th>
            <th>Başlık</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.Date.ToString("g")</td>
                <td>@a.Title</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@a.Id" class="btn btn-sm btn-primary">Düzenle</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@a.Id" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
